.footer{
  position: sticky;
  margin-top: 200px;
  padding-left: 20px;
  visibility: visible;
  background-color: lightgray;
}

.footer-p{
  height: 30px;
  color: #5f6368;
}

.title{
  line-height: 40px;
}

p a{
  color: #5f6368;
  text-decoration:none;
  margin-right: 20px;
}