.search-input{
  display: flex;
  flex-display: row;
}

.icon{
  width: 40px;
  height: 40px;
}
.search-icon{
  position: absolute;
  margin-left: 570px;
  margin-top: 30px;
  z-index: 10;
}
.voice{
  position: absolute;
  margin-left: 1070px;
  margin-top: 30px;
  z-index: 10;
}